* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

body {
  background-color: pink;
}

.card-container {
  background-color: white;
  border: 5px solid darkorchid;
  border-radius: 10px;
  margin: 20% auto;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

button {
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

.dog-image-container {
  border: 2px solid darkorchid;
  margin: auto;
}

.dog-image-container ul {
  width: 80%;
  margin: 1rem auto;
  width: 500px;
  height: 500px;
  padding: 0;
}

.dog-image-container ul li {
  list-style-type: none;
}

.dog-image-container ul li img {
  object-fit: cover;
  width: 500px;
  height: 500px;
}
